:root {
  --black: #120823;
  --grey: #646c79;
  --cloudy-grey: #dfdce3;
  --off-white: #f9f4f4;
  --rose-white: #f8e5e5;
  --blue: #015c91;
  --light-blue: #b4e1fc;
  --ocean-blue: #63bce5;
  --maroon: #4a2c40;
  --red: #880617;
  --blood-red: #ef0d50;
  --light-red: #f88493;
}
